[buildplugin]
node-version=10.15.3
after_install=build

[env_all]
# Need to fetch sqlite3 for tests from internal Nexus.  See https://github.com/mapbox/node-pre-gyp/issues/250.
npm_config_node_sqlite3_binary_host_mirror=http://nexus.wdf.sap.corp:8081/nexus/content/repositories/build.releases.unzip/com/sap/cds/node-sqlite3-binary/4.0.7/node-sqlite3-binary-4.0.7.zip-unzip

# for the above to work, ensure that on xmake-nova we do not hit the proxy
http_proxy=
https_proxy=
HTTP_PROXY=
HTTPS_PROXY=